@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Roboto', sans-serif;
  }
}

/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(104, 104, 104, 0.2); 
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(193, 193, 193); 
    border-radius: 8px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(128, 128, 128);
  }