@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2); 
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.583); 
    border-radius: 8px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.8);
  }
  